BOT_TOKEN=your_telegram_bot_token
WEBHOOK_BASE=https://flashcard-ecosystem.duckdns.org
WEBHOOK_PATH=/webhook/telegram
WEBHOOK_SECRET=your_super_secret_token
MONGO_URI=mongodb+srv://user:pass@cluster.mongodb.net/?retryWrites=true&w=majority
MONGO_DB=flashcard_db
COLLECTION_USERS=users
COLLECTION_FLASHCARDS=flashcards
PORT=8000
