__pycache__/
*.py[cod]
*$py.class
*.egg-info/
.env
.env.production
.env.prod
.venv
env/
venv/
dist/
build/
.DS_Store
*llm_key.json
generate_tree.py

.pytest_cache/
private-docs/
*/tests/manual/
.agent/*
!.agent/skills/
!.agent/workflows/
.learnings/
logs/